.app-group {
    border: solid thin black;
    padding: 1em;
}

.app-form-group {
    border-bottom: solid thin black;
}

.ml-1 {
    margin-left: 1em;
}

.block {
    display: block;
}

.number-of-animal-group {
    display: inline-block;
}

.number-of-animal-group select {
    width: 3em;
}

select {
    min-width: 140px;
}

#app-add-new-pet {
    border: solid thin black;
    margin: 1em;
    padding: 1em;
}

#app-add-new-pet h6 {
    text-decoration: underline;
}

.inline-block {
    display: inline-block;
}



